body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://r1.ilikewallpaper.net/ipad-air-wallpapers/download/28033/Rainbow-Color-Soft-Gradation-Blur-ipad-air-wallpaper-ilikewallpaper_com.jpg);
}
main{
  padding: 36px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
display: flex;
font-style: italic;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/* width:; */
font-size: larger;
justify-content: center;
color: white;
size: 0px;
background: radial-gradient(rgb(255, 0, 179), rgb(183, 255, 0), rgb(0, 113, 128));
/* background:linear-gradient(90deg, #672280 1.18%, #A626D3 100%) ; */

}
#nav{
  display: flex;
  justify-content: center;
  background-color:rgb(183, 255, 0) ;
  padding: 10px;
  
}

a{
  margin-left: 40px;
  justify-content: space-between;
}

.form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  font-size: medium;
  max-width: 50vw;
  margin: 0 auto;
}

.form--button{
border-radius: 5px;
border: 1px solid;
text-indent:5px ;
font-size: medium;

}

.form--button{
  grid-column: 1/-1;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
  font-size: medium;
}

.meme {
  grid-column: 1/-1;
  position: relative;
}

.meme--image {
  
  max-width: 100%;
  border-radius: 3px;
 /* position: absolute; */

}
.search--img{
  width: 600px;
 
}
.memecard{
  border:solid white 20px;
  padding: 20px;
}

.meme--text{
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
.title{
  text-decoration: none;
  font-size:30px;
}

h1{
  /* justify-content: center; */
  color: white;
  padding: 20px;
  text-decoration: underline;
}

.searchbar{
  
}
.welcome{
  margin: 60px;
  color: white;
  border: solid white 15px;
  padding:60px;
  font-size:30px ;
}


.searchfilter{
  margin: 50px;
  width: 50%;
  height: 30px;
  font-size: medium;
}
